@media(max-width:1659px){
  .final__container{
    padding-left: 325px;
    padding-right: 325px;
  }
  .lamb__photo{
    width: 800px;
  }
}

@media(max-width:1438px){
  .final__container{
    padding-left: 290px;
    padding-right: 290px;
  }
  .lamb__photo{
    width:750px;
  }
}


@media(max-width:1284px){
  .final__container{
    padding-left: 250px;
    padding-right: 250px;
  }
  .lamb__photo{
    width:650px;
  }
}

@media(max-width:1109px){
  .final__container{
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media(max-width:950px){
  .final__container{
    padding-left:130px;
    padding-right:130px;
  }
}